.AppContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.NavBar {
  position: relative;
  height: 150px;
  background-color: #08056e;
  opacity: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logoNtitle {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #08056e;
  opacity: 90%;
  height: 100%;
}

.Navlogo {
  width: 100px;
  margin-left: 35px;
}

.Navtitle {
  margin-left: 25px;
  font-size: 40px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.GamesNLogIn {
  background-color: #08056e;
  opacity: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.GamesNLogIn div {
  margin-right: 20px;
}

.NavAllGames button, 
.NavMyGames button,
.NavLogInBtn {
  font-size: 45px;
  background-color: transparent;
  border: none;
  color: white;
}

.NavAllGames button:hover,
.NavMyGames button:hover,
.NavLogInBtn:hover,
.NavRegBtn:hover {
  text-decoration: underline;
}

.NavAllGames button:focus,
.NavMyGames button:focus,
.NavLogInBtn:focus {
  text-decoration: underline;
}

.LogInBtnContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.NavRegBtn {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  margin-bottom: 7px;
  margin-left: 5px;
}

.GamesContainer {
  width: 100%;
  height: 100%;
  background: rgb(164,81,81);
  background: linear-gradient(90deg, rgba(164,81,81,1) 0%, rgba(9,9,121,1) 47%, rgba(34,42,113,1) 90%);
  position: relative;
}

.AllGamesContainer,
.MyGamesContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer {
  background-color: turquoise;
  width: 200px;
  height: 350px;
  overflow: hidden;
  margin: 30px 25px 0 25px;
}

.AddGameCard {
  width: 150px;
  height: 150px;
}

.CardImageContainer {
  background-color: yellow;
  height: 220px;
  width: 100%;
  overflow: hidden;
}

.CardImage {
  width: 270px;
  height: 250px;
  transform: translate(-40px, 0px);
}

.CardTNG {
  background-color: #5C527F;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.CardTitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  font-size: 24px;
  font-weight: 550;
}

.CardTitleBig {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 550;
}

.CardGenre {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  font-size: 16px;
  font-style: italic;
}

.CardOpts {
  height: 50px;
  width: 100%;
  background-color: #5C527F;
  display: flex;
  flex-direction: row;
}

.CardPlatform img {
  height: 35px;
  width: auto;
  margin: 5px 10px 5px 10px; 
}

.CardPlayed,
.CardPlatform,
.CardWL {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6E85B2;
  margin: 0 0.5px 0 0.5px;
}


.CardPlayed img {
  width: auto;
  height: 50px
}

.CardWL img {
  height: 30px;
  width: auto;

}

.AddCardImageContainer {
  background-color: #f9f9f9;
  height: 220px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.AddCardImageContainer img{
  height: auto;
  width: 180px;
}

.GameCardForm{
  position: absolute;
  height: auto;
  width: 500px;
  background-color: #6E85B2;
}

.GameCardForm li{
  list-style: none;
}

.FormImage img {
  height: 500px;
  width: 100%;
}

.PlatformBtnContainer {
  height: auto;
  background-color: cadetblue;
  position: absolute;
  display: flex;
  transform: translate(15px, 10px);
}

.GenreBtnContainer{
  position: absolute;
  background-color: cadetblue;
  transform: translate(350px, 10px);
}

.FormBtnContainer {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.PlatformBtn,
.GenreBtn,
.FormSubmitBtn {
  position: relative;
  width: 33%;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
  background-color: burlywood;
  border: none;
  
}
.PlatformBtn:hover,
.GenreBtn:hover,
.FormSubmitBtn:hover {
  position: relative;
  width: 33%;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
  background-color: rgb(222, 160, 135);
  border: none;
  transform: scale(1.15);
  z-index: 1;
}

.platform {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.genre {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.ToggleLogReg {
  position: absolute;
  flex-direction: column;
  top: 80px;
  z-index: 1;
  box-shadow: none;
  background-color: #34273B;
  height: 600px;
  width: 450px;
  overflow: hidden;
}

.ToggleLogRegBG {
  position: absolute;
  width: 650px;
  opacity: 0.4;
  pointer-events: none;
  transform: translate(-90px, 70px);
}

.ToggleLogRegContainer {
  background-color: whitesmoke;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.userLoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.USemptySpace {
  height: 130px;
  background-color: whitesmoke;
  z-index: 1;
}

.toggleButton {
  position: absolute;
  right: 0;
  font-size: 20px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: whitesmoke
}

.UserSignUp {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
} 

.UserSignUp div {
  margin-bottom: 15px;
}

.UserSignUp label {
  color: whitesmoke;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.UserLogIn {
  display: flex;
  flex-direction: column;
}

.UserLogIn input {
  height: 30px;
  width: 250px;
}

.UserPW,
.UserCFPW {
  display: flex;
  flex-direction: column;
}

.UserPW input,
.UserCFPW input {
  height: 30px;
  width: 250px;
}


.USLogRegSubmit {
  height: 50px;
  width: 220px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #6E85B2;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
}

.LogInLogo {
  width: 160px;
  position: absolute;
  z-index: 1;
  transform: translate(140px, -100px);
}

.XIcon {
  position: absolute;
  width: 25px;
  transform: translate(410px, -125px);
}

.ErrorMessage p {
  margin: 0;
  color:red;
}